*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1{
    background-color: darkslategray;
    color: white;
    text-align: center;
}

h1:hover{
    background-color: cornflowerblue;
    color: crimson;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;

}

.calculator{
    background-color: rgb(25, 31, 31);
    width: 20%;
    height: 400px;
    margin: auto;
    margin-top: 30px;

    
}